/* Kopfzeile */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  gap: 20px;
  color: var(--text-white);
}


.logo-navbar:hover{
  -webkit-filter: drop-shadow(0 0 9px #ff2121);
  filter: drop-shadow(0 0 9px #ff2121);
}
/* Branding-Bereich */

.tagline {
  font-size: 0.875rem;
  color: var(--text-white);
}

/* Navigation */
.nav {
  margin-top: 5px;
  display: flex;
  gap: 1.5rem;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 50px;
  font-size: large;
  margin-top: 15px;
}

.nav-link {
  color: var(--text-white);
  font-weight: 500;
  position: relative;
  padding-bottom: 0.25rem;
}

.nav-link.active {
  border-bottom: 2px solid var(--accent-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

/* Logo in der Kopfzeile */
.logo-image {
  width: 30px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .logo-image {
    width: 50px;
  }
}
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* Menü‑Toggle (Hamburger) */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

.menu-toggle .bar {
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  margin: 3px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Burger‑Animation */
.menu-toggle.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Responsive Layout für Tablet und Smartphone */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo-image{
    display: none;
    
  }
  /* Menü‑Toggle sichtbar machen */
  .menu-toggle {
    display: flex;
  }

  /* Navigation standardmäßig verstecken */
  .nav {
    z-index: 1000;
    display: none;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  /* Navigation anzeigen, wenn geöffnet */
  .nav.open {
    display: flex;
  }
.submit-btn{
  color: var(--text-white) important;
}
  .nav-link {
    padding: 0.25rem 0;
  }
}