/* Kopfzeile */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  gap: 20px;
  color: var(--text-white);
  position: fixed;
  width: 100%;
  z-index: 9999;
}


.logo-navbar:hover{
  -webkit-filter: drop-shadow(0 0 9px #ff212100);
  filter: drop-shadow(0 0 9px #ff212100);
  text-decoration: underline;
    text-decoration: underline;
  text-underline-offset: 0px;   /* Abstand zur Schrift */
  text-decoration-thickness: 0px;
}
/* Branding-Bereich */

.tagline {
  font-size: 0.875rem;
  color: var(--text-white);
}

/* Navigation */
.nav {
  box-shadow: 0 0 20px #ff2121;
  border: 1px solid var(--accent-color);
  margin-top: 5px;
  display: flex;
  gap: 1.5rem;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 50px;
  font-size: large;
  margin-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.nav-link {
  color: var(--text-white);
  font-weight: 600;
  position: relative;
  padding-bottom: 0.25rem;
}

.nav-link.active {
  border-bottom: 2px solid var(--accent-color);
}

.nav-link:hover {
  color: var(--accent-color);
  transition: 0.4s;
}

/* Logo in der Kopfzeile */
.logo-image {
  width: 30px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .logo-image {
    display: none;
  }
  .nav{
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Menü‑Toggle (Hamburger) */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  margin-right: 30px;
}

.menu-toggle .bar {
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  margin: 3px 0;
  z-index: 9999;
}

/* Burger‑Animation */
.menu-toggle.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Responsive Layout für Tablet und Smartphone */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo-image{
    display: none;
    
  }
  /* Menü‑Toggle sichtbar machen */
  .menu-toggle {
    display: flex;
  }
  /* Navigation standardmäßig verstecken */
  .nav {
    z-index: 100;
    display: none;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 0.5rem;
    font-size: x-large;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    width: 80%;
    margin-top: 0;
  }
  /* Navigation anzeigen, wenn geöffnet */
  .nav.open {
    display: flex;
  }
.submit-btn{
  color: var(--text-white) important;
}
  .nav-link {
    padding: 0.25rem 0;
  }
}