.glowing-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--accent-color);
  pointer-events: none;
}