/* Grundlegendes Layout für die gesamte Anwendung */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:  url("./assets/hero-picture.png");
}

.footer-grid {
  text-align: center;
  justify-content: center;
  justify-content: center;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto auto;
}

.circle-div {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  text-align: center;
}
.circle {
  margin: 10px;
  width: 5px;
  height: 5px;
  background-color: var(--accent-color);
}
/* Die Hauptinhalte füllen den verfügbaren Platz zwischen Header und Footer */
.main-content {

  flex: 1;
  padding: 2rem;
  max-width: 960px;
  margin: 0 auto;
}

/* Fußzeile */
.footer {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

.footer p {
  margin: 0;
  font-size: 0.875rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-content {
    padding: 1rem;
    max-width: 100%;
  }
}